[submodule "vending-machine-kata"]
	path = vending-machine-kata
	url = https://github.com/Pragmatists/vending-machine-kata.git
[submodule "fizzbuzz-kata"]
	path = fizzbuzz-kata
	url = https://github.com/Pragmatists/fizzbuzz-kata.git
[submodule "train-reservation-kata"]
	path = train-reservation-kata
	url = https://github.com/Pragmatists/train-reservation-kata.git
[submodule "refactoring-golf"]
	path = refactoring-golf
	url = https://github.com/Pragmatists/Refactoring-Golf.git
[submodule "medicine-clash-version-1"]
	path = medicine-clash-version-1
	url = https://github.com/Pragmatists/medicine-clash-kata.git
	branch = version-1
[submodule "medicine-clash-version-2"]
	path = medicine-clash-version-2
	url = https://github.com/Pragmatists/medicine-clash-kata.git
	branch = version-2
